.products {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  max-width: 1145px;
  margin: auto;
  padding: 50px 0;

  .productsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 50px;
    column-gap: 50px;
    justify-content: center;
    .product {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      border-radius: 35px;
      opacity: 0.9;
      background: linear-gradient(
        180deg,
        #f8f8f8 0%,
        rgba(248, 248, 248, 0) 100%
      );
    }
  }

  .productCatalog {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

@media screen and (max-width: 1340px) {
  .products {
    padding: 80px;

    .productsList {
      grid-template-columns: repeat(2, 330px);
      grid-template-rows: repeat(3, auto);
    }
  }

  @media screen and (max-width: 768px) {
    .products {
      .productsList {
        grid-template-columns: repeat(1, 330px);
        grid-template-rows: repeat(6, auto);
      }
    }
  }
}
