.button {
  border-radius: 35px;
  padding: 15px 25px;
  opacity: 0.9;
  background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);

  span {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
  }
}
