.heroContent {
  display: flex;
  justify-content: space-between;
  max-width: 1360px;

  .leftContent {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 50px;
    max-width: 600px;

    .contentTitle {
      color: #0d4c93;
      font-size: 50px;
      font-weight: 500;
      max-width: 350px;
    }

    .contentDesc {
      color: #363535;
      font-size: 20px;
      line-height: 40px;
      max-width: 450px;
    }
  }
}

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1340px) {
  .heroContentImg {
    display: none;
  }
  .heroContent {
    display: flex;
    align-items: start;
  }
}

@media screen and (max-width: 768px) {
}
